h1 {
  font-family: 'Roboto', sans-serif;
  color: #DB5658;
}


h2 {
  color: #7D7D7D;
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 15px;
}

p {
  font-size: 12px;
  margin: 32px;
  font-family: 'Open Sans', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #505A5B;
  background: url(images/greenleaves.jpg);
  font-weight: 300;
  font-size: 15px
}


tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.button {
  background-color: #DB5658;
  color: white;
  border-radius: 4px;
  padding: 8px;
  opacity: 0.7;
}

.button:hover {
  background-color: #DB5658;
  color: white;
  border-radius: 4px;
  padding: 8px;
  opacity: 1.0;
}

.container {
  width: 45%;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.profile {
  width:  200px;
  height: 200px;
  border-radius: 50%;
}

.logo_small{
  font-size: 30px;
}

.card {
  background-color: rgba(255,255,255,0.85);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}


.text-center {
  text-align: center;
}

.synopsis {
  font-size: 9px;
}

.list_inline {
  display: inline-block;
  padding: 20px;
}

#movieposter {
  width: 80px;
  height: auto;
}

table {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

a {
  color: #6B717E;
  text-decoration: none;
}

a:hover {
  color: #DB5658;
  text-decoration: none;
}
